<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body style="margin:16px">
<br>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

    <span class="fs-4"><h1 style="color:#02075d">Агамова Евгения Абдулманафовна</h1></span>
    </div>
<p style="margin:2px">Махачкала</p>
<p style="margin:2px">Возраст: 33 года</p>
<p style="margin:2px">Телефон: +7(963)403-04-09</p>
<br>
<h3>Опыт работы</h3>
<p style="color: gray; font-size:15px; margin-bottom:3px">Сентябрь 2009 - Август 2010</p>
<p><b>ДГУНХ</b>&nbsp;Преподаватель кафедры информатики</p>
<br>

<h3>Образование</h3>
<p style="color: gray; font-size:15px; margin-bottom:3px">2004 - 2009</p>
<p><b>ДГУ</b>&nbsp;г.Махачкала, Высшее </p>
<p>Математический. Прикладная математика и информатика (диплом с отличием)</p>
<br>
<h3>Курсы</h3>
<p style="color: gray; font-size:15px; margin-bottom:3px">2020</p>
<p><b>НИУ ВШЭ</b> &nbsp; "Основы программирования на Python" &nbsp;<a href="https://coursera.org/share/d37168c5920f41a37c53af73e53203a6">Посмотреть диплом</a></p>

<p><b>Московский физико-технический институт</b>&nbsp; "Математика и Python для анализа данных"&nbsp;<a href="https://coursera.org/share/0abd9fb7dc9c77d8b9d02102a4a0ab65">Посмотреть диплом</a></p>
<p style="color: gray; font-size:15px; margin-bottom:3px">2021</p>
<p><b>А.Куличевский</b>&nbsp;"Python для маркетологов"</p>
<p style="color: gray; font-size:15px; margin-bottom:3px">В процессе</p>
<p><b>Яндекс.Практикум</b>&nbsp;"Разработчик Python плюс"</p>
</body>
</html>